alembic>=1.13.0
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.9
polars>=0.20.0
pydantic>=2.0.0
scikit-learn>=1.4.0
python-dotenv>=1.0.0
prophet>=1.1.0
streamlit>=1.30.0
plotly>=5.18.0
connectorx>=0.3.2
numpy>=1.26.0
pre-commit>=3.6.0
